main{
  padding-top: 64px; /* Height of the header */
  min-height: calc(100vh - 64px);
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  main {
    padding-top: 94px; /* Adjusted for two-row header on mobile */
  }
}