/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Stiluri pentru router-outlet content
router-outlet + * {
  display: block;
  padding-top: 65px;
  min-height: calc(100vh - 50px); // Asigură că conținutul ocupă cel puțin înălțimea viewport-ului minus padding
}
